// BUTTON
$play-btn-color: #D7DBDD;
$primary-text-color: #B2B2B2;
$primary-purple: #784CC0;
$dark-purple: #5D3999;
$hover-purple: #976BE2;
$light-red: #DA6161;
$primary-grey: #7C7C7C;
$light-grey: #B2B2B2;
$light-white: #fefefe;

// BORDER
$light-grey-border: #EBEBED;
$dark-grey-border: #959595;
